<?xml version='1.0'?>
<manifest xmlns:a='http://schemas.android.com/apk/res/android' package='in.ignas.helloandroid' a:versionCode='1' a:versionName='1'>
    <application a:label='A Hello Android'>
        <activity a:name='in.ignas.helloandroid.MainActivity'>
             <intent-filter>
                <category a:name='android.intent.category.LAUNCHER'/>
                <action a:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
    </application>
</manifest>
